<a href="https://colab.research.google.com/github/Tanisha2910/project_euler/blob/master/AdvString_Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# String Concatenation
person = {'name':'Jen', 'age':'23'}
sentence = 'My name is ' + person['name'] + ' and I am ' + person['age'] + ' years old.'
print(sentence)

My name is Jen and I am 23 years old.

In [2]:
# String formatting
person = {'name':'Zoo', 'age':'43'}
sentence = 'My name is {} and I am {} years old.'.format(person['name'], person['age'])
print(sentence)

My name is Zoo and I am 43 years old.

In [3]:
# String formatting
person = {'name':'tani', 'age':'31'}
sentence = 'My name is {0} and I am {1} years old.'.format(person['name'], person['age'])
print(sentence)

My name is tani and I am 31 years old.

In [4]:
tag = 'h1'
text = 'this is a headline'
sentence = '<{0}>{1}</{0}>'.format(tag, text)
print(sentence)

<h1>this is a headline</h1>

In [9]:
# FORMATING
for i in range(1,11):
  sentence = 'The value is {}'.format(i)
  print(sentence)

The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is 10

In [10]:
for i in range(1,11):
  sentence = 'The value is {:02}'.format(i)
  print(sentence)

The value is 01
The value is 02
The value is 03
The value is 04
The value is 05
The value is 06
The value is 07
The value is 08
The value is 09
The value is 10

In [11]:
# Formating of decimal nos,
# Here we want no with only 2 decimal places
p = 3.15678029
sentence = 'p is equal to {:.2f}'.format(p)
print(sentence)

p is equal to 3.16

In [15]:
# Down we want to print a large no and we want some comma seperators to make it more readable
sentence = '1 MB is equal to : {:,} bytes'.format(1000**2)
print(sentence)

1 MB is equal to : 1,000,000 bytes

In [17]:
# Printing date time and year
import datetime
my_date = datetime.datetime(1996, 10, 29, 12, 25, 55)
print(my_date)

1996-10-29 12:25:55