<a href="https://colab.research.google.com/github/Tanisha2910/project_euler/blob/master/Dicktionaries_KeyValuePairs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Key Value Pair - Key is the unique identifier where we find our data and the value is our data.

In [12]:
# Now we want represent a student using a dictionary
# In curly braces we will 1st put our key ie. name then we will use a color to seperate our key from value, next key ia age and the value is 25 and the last key is courses and we have hiven a list of coursed there maths and gk.
student = {'name' : 'John', 'age' : 25, 'courses' : ['Math', 'GK']}
print(student)
print(student['name'])
# Trying to access key that doesn't exist
#print(student['phone'])
print(student['age'])
print(student.get('courses'))

# Trying to access key that doesn't exist
print(student.get('phone'))
print(student.get('phone', 'Not Found'))

{'name': 'John', 'age': 25, 'courses': ['Math', 'GK']}
John
25
['Math', 'GK']
None
Not Found

In [16]:
# Adding new entry to our dictionary
student = {'name' : 'John', 'age' : 25, 'courses' : ['Math', 'GK']}
student['phone-no'] = '555-555-555'
print(student)
print(student.get('phone-no', 'Not Found'))

{'name': 'John', 'age': 25, 'courses': ['Math', 'GK'], 'phone-no': '555-555-555'}
555-555-555